.col-md-6.productsList {
    background-color: rgba(220,220,220,.2);
    border-left: 1px solid rgba(100,100,100,0.2);
}

.tracing{
    margin-top:-20px;
}

@media (max-width:991px){

    .col-md-6.productsList {
        background-color: rgba(220,220,220,.2);
        border-left: 1px solid rgba(100,100,100,0.2);
        padding-bottom: 30px;
    }

    .price{
        text-align: right;
    }

    .userInfo{
        margin-top:-40px;
    }

    #form_direction{
        margin-bottom: 100px; 
    }

    .tracing{
        margin-top: 60px;
        padding-left: 15px;
    }

}
    
.productsMargin{
    margin-top: 40px;
    margin-bottom:50px;
    padding-right: 25px;
    padding-left: 25px;
}

.products{
    padding-bottom: 10px;
}

.productDisplay{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.productImage{
    height: 80px; 
    width: auto; 
    border-radius: 10px;
    border: 1px solid rgba(100,100,100,0.2);
    margin-top:-20px;
}

.countIcon{
    position: absolute;
    right:0px;
    top:-25px;
    background: rgb(250,200,10);
    text-align: center;
    border-radius: 100px 100px 100px 100px;
    color:white;
    font-size:12px;
    padding:5px 13px;
}

.productInfo{
    font-size: 18px;
    padding-bottom:20px;
}

.price{
    text-align: right;
    padding-top:10px;
}

.gray{
    border-color: rgba(50,50,50,.2);
}

.clear{
    border-color: rgba(220,220,220,.2);
}

.white{
    border-color:rgba(255,255,255,0.0);
}

.col-md-3,.col-md-10.pricePosition{
    text-align: right;
}

.pricePosition b{
    font-size:30px;
}

.cancel-button{
    margin-left: 5px;
    margin-top: 20px;
    width: 35%;
    font-size:large;
    color:white;
    background-color: rgba(50,50,50,.7);
}

.paymentButton{
    padding: 4% 0; 
    background-color:rgb(250,200,10);
    
    width: 80%;
} h4 {
    color: white;
}

.selection{
    margin-top: 40px;
    text-align: center;
}

.select_form, #register-button, #login-button {
    margin-top: 20px;
    width: 35%; 
    background-color:rgb(250,200,10);
    color: white;
    font-size:large;
}

input[type="email"], input[type="text"], input[type="password"]{
    border-radius: 6px;
}
