.left-sidebar,
.sidebar-nav,
.sidebar-footer {
  background-color: #3f3f3f !important;
}

aside.left-sidebar {
  padding-top: 10px;
}
.sidebar-nav > ul > li.active > a,
.sidebar-nav > ul > li.active:hover > a {
  background-color: #565656 !important;
}

.row.page-titles {
  box-shadow: none !important;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.page-wrapper {
  background-color: #fff;
}

.profile-pic {
  width: 30px;
  border-radius: 100%;
}

.top-navbar {
  min-height: 70px;
  padding: 0px 15px 0 0;
}

ul.dropdown-user li a {
  padding: 9px 15px;
  display: block;
  color: #67757c;
}
ul.dropdown-user li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.dropdown-user {
  padding: 0px;
  width: 270px;
}
.dropdown-menu {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border-color: rgba(120, 130, 140, 0.13);
}
.titulo {
  color: #4cbca5;
  font-size: 3.5em;
  line-height: 60px;
}
.checkmark {
  font-size: 100px;
  position: absolute;
  left: 29%;
  top: 15%;
}
.cuadroCheck {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.btnCheck {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.btnCheck i {
  font-size: 52px;
  top: -13px;
  left: -11px;
  position: absolute;
}
.cuadroText {
  width: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: #3f3f3f !important;
  height: 200px;
  display: inline-block;
}
.textoCaja {
  position: absolute;
  color: #3f3f3f !important;
  font-weight: bold;
  font-size: 50px;
  left: 20px;
  top: 22px;
  line-height: 41px;
  text-align: left;
}

#grafico_dashboard {
  width: 100% !important;
}
.cuadroBotones {
  height: 255px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.span2 {
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  width: 180px;
  padding-bottom: 10px;
}
a.btn_dash {
  text-decoration: none;
  color: #565656;
}
.cuadroBotones img {
  margin-bottom: 15px;
}
.titleCheck {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.buttonsCheck .row {
  margin-bottom: 10px;
}
.buttonsCheck {
  float: left;
}
.buttonsCheck:hover {
  cursor: pointer;
}

.card.card-inverse.card-primary.p-2.text-center.text-white.btnCheck.inactiva {
  background-color: transparent;
  box-sizing: border-box;
  border: solid 7px #3f3f3f;
}
.tabPerfil {
  display: none;
  float: left;
}
.nivel img{
  width: 50px;
}
.nivel div {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.nivel{
  /* background-color: #3f3f3f; */
  position: absolute;
  padding: 20px 15px 10px 15px;
  right: 0;
  top: 46px;
}