@media screen and (max-width:1024px){

    .stepButton , .activeButton, .directionButton{
        width: 100px !important;
        margin-inline: -10px !important;
    }

    .numberStep{
        font-size:20px !important;
    }
    
    .titleStep, .directionButton h6{
        font-size:8px !important;
    }

    .directionButton h1 {
        font-size: 30px !important;
    } 
}

@media screen and (max-width:648px){

    .stepButton , .activeButton, .directionButton{
        width: 80px !important;
        margin-inline: -10px !important;
    }

    .numberStep{
        font-size:16px !important;
    }
    
    .titleStep, .directionButton h6{
        font-size:6px !important;
    }

    .directionButton h1 {
        font-size: 20px !important;
    } 

    .grillProject { 
        margin-left: 10% !important; 
        margin-right: 10% !important;
    } 

}

@media screen and (max-width:498px){

    .stepButton , .activeButton, .directionButton{
        width: 60px !important;
        margin-inline: -10px !important;
    }

    .numberStep{
        font-size:16px !important;
    }
    
    .titleStep, .directionButton h6{
        font-size:6px !important;
    }

    .directionButton h1 {
        font-size: 20px !important;
    } 

    .grillProject { 
        margin-left: 5% !important; 
        margin-right: 5% !important;
    } 
    
}

@media screen and (max-width:348px){

    .stepButton , .activeButton, .directionButton{
        width: 50px !important;
        margin-inline: -10px !important;
    }

    .numberStep{
        font-size:16px !important;
    }
    
    .titleStep, .directionButton h6{
        font-size:6px !important;
    }

    .directionButton h1 {
        font-size: 20px !important;
        
    } 

    .grillProject h2 {
        font-size: 34px !important;
    } 
    
}

.grillProject { 
    margin-left: 20%;
    margin-right: 20%;
} 

.grillProject h2 {
    text-align: center;
    text-transform:capitalize;
    font-size: 40px;
    color: rgba(20,20,20,.9);
} 

.grillProject h1 {
    text-align: center;
    text-transform:capitalize;
} 

.grillProject input {   
    border-radius:10px;
    font-size:15px;
} 

.grillProject label {
    color:black;
}

.grillProject .btn {
    background-color: black;
    color: white;
    width:100%;
    text-align: center;
    text-transform:uppercase;
    margin-bottom:100px;
}

.stepButton {
    background-color:rgba(0,0,0,0); 
    border:0px;
    color: rgba(190,190,190,1);
    width: 130px;
    padding-inline: 10px;
}

.activeButton{
    background-color:rgba(0,0,0,0);
    color:black;
    border:0px;
    width: 130px;
}

.directionButton{
    background-color:rgba(0,0,0,0);
    border:0px;
    width: 130px;
}

.directionButton h1 {
    font-family:Lucida Console;
}  

.directionButton h6 {
    color: black;
    font-size:12px;
}

.numberStep{
    font-size:27px;
    font-family:Helvetica;
    font-weight:800;
}

.titleStep{
    font-size:12px;
}

.currentStep{
    text-transform:capitalize;
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
    color:black
}

.layoutList{
    margin-left:10%;
    margin-right:10%
}

.typeLayout{
    font-size:16px;
    color:black;
}

.typeLayoutExtra{
    font-style:italic;
    font-size:16px;
    color:black;
}

.layoutImgSelected{
    width:150px;
    background-color:rgba(190,190,190,.3);
    border:solid 1px;
    border-color: darkturquoise;
}

.layoutImg{
    width:150px;
    background-color:rgba(190,190,190,0);
}

.islandList{
    margin-left:5%;
    margin-right:5%
}

.islandImg{
    width:200px;
}

.islandItem{
    background-color:rgba(190,190,190,0);
    text-align: center;
}

.islandItemSelected{
    background-color:rgba(190,190,190,.3);
    border:solid 2px;
    border-color: darkturquoise;
    text-align: center;
}

.typeIslandBase{
    color:black;
    font-size:15px;
}

.typeIsland{
    color:black;
    font-size:25px;
}

.note{
    background-color: rgba(45,45,45,1);
    width: 28%;
    height:auto;
    padding-top:15px;
    padding-bottom:15px;
    margin:0 auto;
    margin-top:60px;
    margin-bottom :60px;
}

.note h5 {
    color:white;
}

.note p {
    color:white;
    font-size:17px;
}


.applianceImg{
    width: 150px;
    background-color:rgba(190,190,190,0);
}

.applianceImgSelected{
    width: 150px;
    background-color:rgba(190,190,190,.3);
    border:solid 2px;
    border-color: darkturquoise;
}

.applianceList{
    margin-bottom:30px;
}

.applianceItem { 
    margin-bottom: 18px;
}

.applianceItem h6{
    color:rgba(20,20,20,.9);
    font-size:18px;
}

.applianceItem span{
    color:rgba(20,20,20,.9);
    font-size:18px;
}

.applianceView{
    background-color: rgba(190,190,190,.3);
    height:450px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


#applianceSlider {
    width:250px;
    margin:auto;
}

#applianceSliderLarge {
    width:300px;
    margin:auto;
}

#prevButton, #prevButtonLarge{
    background-color: rgba(0,0,0,0);
    opacity:1;
    background-image:none;
    width:40px;
    padding-top:23%;
}

#nextButton, #nextButtonLarge{
    background-color: rgba(0,0,0,0);
    opacity:1;
    background-image:none;
    transform: rotateY(180deg);
    width:40px;
    padding-top:23%;
}

.Viewer3D{
    text-align:center;
}

.quoteForm {
    margin-left: 15%;
    margin-right:15%;
    align-items: center;
}

#quoteButton{
    background-color: black;
    color: white;
    width:23%;
    text-align: center;
    text-transform:uppercase;
    margin-bottom:100px;
}

#formQuote .row .col-md-12 textarea, #formQuote .row .col-xs-12 textarea {
    height:110px;
}

#formQuote .row .col-md-6 select, #formQuote .row .col-xs-6 select{
    border-radius: 5px;
    border: solid 1px;
    border-color: rgba(190,190,190,.7);
}

.loader-ring-white {
    border: 8px solid rgba(0,0,0,.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: black;
    animation: spin 1s ease infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.overlaySpin {
    width:100%;
    height:100%;
    padding-top:10%;
    padding-bottom:80%;
    background-color: rgb(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 10000;
    margin: 0 auto;
    display: none;
}